/djangoproject/__pycache__
/hello_world_app/__pycache__
/budget_tracker/migrations
/budget_tracker/__pycache__
/SecureBank_Hub/__pycache__
/SecureBank_Hub/migrations
/hello_world_app/migrations
db.sqlite3
manage.py
nohup.out